IF NOT EXISTS (SELECT * 
               FROM INFORMATION_SCHEMA.COLUMNS 
               WHERE TABLE_NAME = 'FORMATIONELEVES' 
               AND TABLE_SCHEMA = 'PROCS'
               AND COLUMN_NAME = 'NB_LANGAGE_INFO')
BEGIN
ALTER TABLE PROCS.FORMATIONELEVES 
ADD NB_LANGAGE_INFO INT ;
EXEC('
UPDATE PROCS.FORMATIONELEVES
SET NB_LANGAGE_INFO = 0 ;
');
END;
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'COMPETENCES_LANGAGE_INFO' AND schema_id = SCHEMA_ID('PROCS'))
BEGIN
CREATE TABLE PROCS.COMPETENCES_LANGAGE_INFO
(
ID_ELEVE INT NOT NULL,
LANGAGE_INFO VARCHAR(30),
DATE_EXPIRATION_CERTIFICATION DATE
);
END
GO
DROP TRIGGER IF EXISTS PROCS.E_CMP_I_LANGUEINF;
GO
CREATE OR ALTER TRIGGER PROCS.E_CMP_I_LANGUEINF
ON PROCS.COMPETENCES_LANGAGE_INFO AFTER INSERT AS
BEGIN
DECLARE @NBLANG INT ;
SELECT @NBLANG = NB_LANGAGE_INFO FROM PROCS.FORMATIONELEVES 
WHERE ID_ELEVE=(SELECT ID_ELEVE FROM INSERTED) ;
IF @NBLANG <4
	UPDATE PROCS.FORMATIONELEVES 
		SET NB_LANGAGE_INFO = NB_LANGAGE_INFO +1
		WHERE ID_ELEVE=(SELECT ID_ELEVE FROM INSERTED) ;
ELSE
	BEGIN
	ROLLBACK TRANSACTION ;
	THROW 50002, 'L élève a déjà la maitrise de 4 langages info',1;
	END;
END;
GO